@model FinanceCalculator.Models.CreditCalculatorVM
@{
    ViewBag.Title = "FinanceCalculator";
}

<h2 class="text-center">Финансов калкулатор</h2>
<br />

<form method="post" class="mediumForm">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Размер на кредита</label>
                @Html.TextBoxFor(m => m.Params.Amount, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Срок (месеци)</label>
                @Html.TextBoxFor(m => m.Params.Period, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Лихва (%)</label>
                @Html.TextBoxFor(m => m.Params.Rate, new { @class = "form-control" })
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Промоционален период (месеци)</label>
                @Html.TextBoxFor(m => m.Params.PromotionPeriod, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Промоционална лихва(%)</label>
                @Html.TextBoxFor(m => m.Params.PromotionRate, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Гратисен период (месеци)</label>
                @Html.TextBoxFor(m => m.Params.GratisPeriod, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Вид погасителен план</label>
                @Html.DropDownListFor(m => m.Params.IsAnnuityInstallments, new SelectList(
                new[]
                {                  
                    new { Value = "true", Text = "Анюитетни вноски" },
                    new { Value = "false", Text = "Намаляващи вноски" },
                },
                "Value",
                "Text",
                Model
                     ), new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Такса кандидатстване</label>
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Params.ApplicationFee, new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Params.TreatApplicationFeeAsPercent, new SelectList(
                new[]
                {
                    new { Value = "true", Text = "%" },
                    new { Value = "false", Text = "Валута" },
                },
                "Value",
                "Text",
                Model
                     ), new { @class = "input-group-addon" })
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Такса обработка</label>
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Params.ProcessingFee, new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Params.TreatProcessingFeeAsPercent, new SelectList(
                new[]
                {
                    new { Value = "true", Text = "%" },
                    new { Value = "false", Text = "Валута" },
                },
                "Value",
                "Text",
                Model
                     ), new { @class = "input-group-addon" })
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Други такси</label>
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Params.OtherInitialFees, new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Params.TreatOtherInitialFeesAsPercent, new SelectList(
                new[]
                {
                    new { Value = "true", Text = "%" },
                    new { Value = "false", Text = "Валута" },
                },
                "Value",
                "Text",
                Model
                     ), new { @class = "input-group-addon" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Годишна такса управление</label>
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Params.AnnualManagementFee, new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Params.TreatAnnualManagementFeeAsPercent, new SelectList(
                new[]
                {
                    new { Value = "true", Text = "%" },
                    new { Value = "false", Text = "Валута" },
                },
                "Value",
                "Text",
                Model
                     ), new { @class = "input-group-addon" })
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Други годишни такси</label>
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Params.OtherAnnualFees, new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Params.TreatOtherAnnualFeesAsPercent, new SelectList(
                new[]
                {
                    new { Value = "true", Text = "%" },
                    new { Value = "false", Text = "Валута" },
                },
                "Value",
                "Text",
                Model
                     ), new { @class = "input-group-addon" })
                </div>
            </div>
        </div>        
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Месечна такса управление</label>
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Params.MonthlyManagementFee, new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Params.TreatMonthlyManagementFeeAsPercent, new SelectList(
                new[]
                {
                    new { Value = "true", Text = "%" },
                    new { Value = "false", Text = "Валута" },
                },
                "Value",
                "Text",
                Model
                     ), new { @class = "input-group-addon" })
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Други месечни такси</label>
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Params.OtherMonthlyFees, new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Params.TreatOtherMonthlyFeesAsPercent, new SelectList(
                new[]
                {
                    new { Value = "true", Text = "%" },
                    new { Value = "false", Text = "Валута" },
                },
                "Value",
                "Text",
                Model
                     ), new { @class = "input-group-addon" })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group center-align-input">
        <input type="submit" value="Изчисли" class="btn btn-primary" />
    </div>
    @Html.ValidationSummary(true, "", new { @class="text-danger"})
</form>

@if (Model.Result != null)
{
    <ul class="list-group">
        <li class="list-group-item">ГОДИШЕН ПРОЦЕНТЕН РАЗХОД: @Model.Result.AnnualPercentageRate %</li>
        <li class="list-group-item">ПОГАСЕНИ С ЛИХВИ И ТАКСИ: @Model.Result.TotalInstallmentsWithTotalFeesAndRates</li>
        <li class="list-group-item">ТАКСИ И КОМИСИОННИ: @Model.Result.TotalFees</li>
        <li class="list-group-item">ЛИХВИ:  @Model.Result.TotalRates</li>
        <li class="list-group-item">ВНОСКИ:  @Model.Result.TotalInstallments</li>
    </ul>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Дата</th>
                    <th>Месечна вноска</th>
                    <th>Вноска главница</th>
                    <th>Вноска лихва</th>
                    <th>Остатък главница</th>
                    <th>Такси и комисионни</th>
                    <th>Паричен поток</th>
                </tr>
            </thead>
            <tbody>

                @foreach (FinanceCalculator.Models.MonthlyResultVM m in Model.Result.MonthlyInstallments)
                {
                    <tr>
                        <td>@m.RowNumber</td>
                        <td>@m.Date.ToString("dd.MM.yyyy")</td>
                        <td>@m.Installment</td>
                        <td>@m.PrinicpalInstallment</td>
                        <td>@m.RateInstallment</td>
                        <td>@m.PrincipalRemainder</td>
                        <td>@m.Fees</td>
                        <td>@m.TotalInstallment</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}