@model FinanceCalculator.Web.ViewModels.RefinancingCalcParamsVM
@{
    ViewBag.Title = "RefinancingCalculator";
}

<h2 class="text-center">Калкулатор за рефинансиране</h2>
<br />

@using (Ajax.BeginForm("RefinancingCalculator", "Home", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "refinancing-result",
        HttpMethod = "POST"
    }, new { @class = "mediumForm" }))
{
    <div>
        <div class="text-info text-center">
            <h6>Настоящ кредит </h6>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Размер на кредита</label>
                @Html.TextBoxFor(m => m.CurrentCreditAmount, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Лихва (%)</label>
                @Html.TextBoxFor(m => m.CurrentCreditRate, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Срок на кредита (месеци)</label>
                @Html.TextBoxFor(m => m.CurrentCreditPeriod, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Брой на направените вноски</label>
                @Html.TextBoxFor(m => m.CurrentCreditMadeInstallments, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Такса за предсрочно погасяване (%)</label>
                @Html.TextBoxFor(m => m.CurrentCreditPreTermFee, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div>
        <div class="text-info text-center">
            <h6>Нов кредит</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Лихва</label>
                @Html.TextBoxFor(m => m.NewCreditRate, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Първоначални такси (%)</label>
                @Html.TextBoxFor(m => m.NewCreditInitialFeesPercent, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Първоначални такси (валута)</label>
                @Html.TextBoxFor(m => m.NewCreditInitialFeesCurrency, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="form-group center-align-input">
        <input type="submit" value="Изчисли" class="btn btn-primary" />
    </div>
}

<div id="refinancing-result"></div>
