@model FinanceCalculatorWeb.Models.LeasingCalculatorVM
@{
    ViewBag.Title = "LeasingCalculator";
}

<h2>Лизингов калкулатор на Годишния Процент на Разходите</h2>

<form method="post" class="mediumForm">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Цена на стоката с ДДС</label>
                @Html.TextBoxFor(m => m.Params.Price, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Първоначална вноска</label>
                @Html.TextBoxFor(m => m.Params.InitialInstallment, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Период на лизинга (месеци)</label>
                @Html.TextBoxFor(m => m.Params.Period, new { @class = "form-control" })
            </div>
        </div>
    </div> 

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Месечна вноска</label>
                @Html.TextBoxFor(m => m.Params.MonthlyInstallment, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Първоначална такса за обработка</label>
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Params.InitialManagementFee, new { @class = "form-control" })
                    @Html.DropDownListFor(m => m.Params.TreatInitialManagementFeeAsPercent, new SelectList(
                new[]
                {
                    new { Value = "true", Text = "%" },
                    new { Value = "false", Text = "лв" },
                },
                "Value",
                "Text",
                Model
                     ), new { @class = "input-group-addon" })
                </div>
            </div>
        </div>        
    </div>

    <div class="form-group">
        <input type="submit" value="Изчисли" class="btn btn-primary" />
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

</form>

@if (Model.Result != null)
{
     <ul class="list-group">
        <li class="list-group-item">ГОДИШЕН ПРОЦЕНТЕН РАЗХОД: @Model.Result.AnnualPercentRate %</li>
        <li class="list-group-item">ОБЩО ИЗПЛАТЕНО С ТАКСИ:  @Model.Result.TotalPaidWithFees BGN</li>
        <li class="list-group-item">ОБЩО ТАКСИ:  @Model.Result.TotalFees BGN</li>        
    </ul>
}