@model FinanceCalculatorWeb.Models.RefinancingCalculatorVM
@{
    ViewBag.Title = "RefinancingCalculator";
}

<h2>Калкулатор за рефинансиране</h2>

<form method="post" class="mediumForm">
    <div>
        <div class="text-info text-center">
            <h6>Настоящ кредит </h6>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Размер на кредита</label>
                @Html.TextBoxFor(m => m.Params.CurrentCreditAmount, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Лихва (%)</label>
                @Html.TextBoxFor(m => m.Params.CurrentCreditRate, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Срок на кредита (месеци)</label>
                @Html.TextBoxFor(m => m.Params.CurrentCreditPeriod, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Брой на направените вноски</label>
                @Html.TextBoxFor(m => m.Params.CurrentCreditMadeInstallments, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Такса за предсрочно погасяване (%)</label>
                @Html.TextBoxFor(m => m.Params.CurrentCreditPreTermFee, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div>
        <div class="text-info text-center">
            <h6>Нов кредит</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label>Лихва</label>
                @Html.TextBoxFor(m => m.Params.NewCreditRate, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Първоначални такси (%)</label>
                @Html.TextBoxFor(m => m.Params.NewCreditInitialFeesPercent, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Първоначални такси (валута)</label>
                @Html.TextBoxFor(m => m.Params.NewCreditInitialFeesCurrency, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Изчисли" class="btn btn-primary" />
    </div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })    
</form>

@if (Model.Result != null)
{
    
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Резултат</th>
                    <th>Текущ кредит</th>
                    <th>Нов кредит</th>
                    <th>+/- Спестявания</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Лихва</td>
                    <td>@Model.Result.CurrRate %</td>
                    <td>@Model.Result.NewRate %</td>
                    <td></td>                    
                </tr>
                <tr>
                    <td>Срокове на кредитите</td>
                    <td>@Model.Result.CurrPeriod</td>
                    <td>@Model.Result.NewPeriod</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Такса за предсрочно погасяване</td>
                    <td>@Model.Result.CurrPreTermFee</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>Месечна вноска</td>
                    <td>@Model.Result.CurrMonthlyInstallment</td>
                    <td>@Model.Result.NewMonthlyInstallment</td>
                    <td>@(Model.Result.CurrMonthlyInstallment - Model.Result.NewMonthlyInstallment)</td>
                </tr>
                <tr>
                    <td>Общо изплатени</td>
                    <td>@Model.Result.CurrTotalPaid</td>
                    <td>@Model.Result.NewTotalPaid</td>
                    <td>@(Model.Result.CurrTotalPaid-Model.Result.NewTotalPaid)</td>
                </tr>
                
            </tbody>
        </table>
    </div>

    if (Model.Result.CurrTotalPaid - Model.Result.NewTotalPaid < 0)
    {
        <div class="text-center">
            <div class="col-sm-12 alert alert-danger">
                Въведените от Вас параметри и последвалото изчисление показват, че избраната от Вас оферта за нов кредит, с която искате да рефинансирате Вашето задължение не е изгодна, тъй като цената на рефинансирането е по-висока от очакваната икономия. Моля, изберете друга оферта и изчислете отново.
            </div>
        </div>
    }
    else
    {
    <div class="text-center">
        <div class="col-sm-12 alert alert-success">
            Според въведeните от Вас параметри и последвалото изчисление – има смисъл да рефинансирате вашето задължение, тъй като икономията от рефинансирането е по-висока от цената на настоящото Ви задължение. 
        </div>
    </div>   
   }

}
